#include <dt-bindings/zmk/matrix_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &layout_grid_transform;
    };

    aliases {
        adc0 = &adc;
        led0 = &myled0;
        pwm00 = &pwm_led_0;
        pwm01 = &pwm_led_1;
        pwm02 = &pwm_led_2;
    };
    
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
                diode-direction = "col2row";
        row-gpios
            = <&gpio0 17 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
        col-gpios
            = <&gpio0 20 GPIO_ACTIVE_HIGH>;
    };
    
    layout_grid_transform:
    keymap_transform_0  {
        compatible = "zmk,matrix-transform";
	columns = <1>;
	rows = <1>;
	map = <RC(0,0)>;
    };

    babopad: babopad_0 {
		compatible = "zmk,babopad"; 
        status = "okay";
        adc-channels = <0 5 7>;
        pwm-channels = <0 1 2>;
	dpi = <1000>;
	sampling-hz = <100>;
        evt-type = <INPUT_EV_REL>;
        input-code-x = <INPUT_REL_X>;
        input-code-y = <INPUT_REL_Y>;
    };

	babopad_listener {
    	compatible = "zmk,input-listener";
    	device = <&babopad>;
    };
    leds {
        compatible = "gpio-leds";
        myled0: led_0 {
            gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;        
        };
    };
};

&adc {
    status = "okay";
};

&pinctrl {
    pwm0_default: pwm0_default {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 15)>,
                <NRF_PSEL(PWM_OUT1, 0, 24)>,
                <NRF_PSEL(PWM_OUT2, 1, 0)>;
        };
    };
    pwm0_sleep: pwm0_sleep {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 15)>,
                <NRF_PSEL(PWM_OUT1, 0, 24)>,
                <NRF_PSEL(PWM_OUT2, 1, 0)>;
            low-power-enable;
        };
    };
};

&pwm0 {
    status = "okay";
    pinctrl-0 = <&pwm0_default>;
    pinctrl-1 = <&pwm0_sleep>;
    pinctrl-names = "default", "sleep";
};

&pwmleds {
    compatible = "pwm-leds";
    pwm_led_0: pwm_led_0 {
        pwms = <&pwm0 0 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
    };
    pwm_led_1: pwm_led_1 {
        pwms = <&pwm0 1 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
    };
    pwm_led_2: pwm_led_2 {
        pwms = <&pwm0 2 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
    };
};