#include <dt-bindings/zmk/matrix_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &layout_grid_transform;
    };

    aliases {
        adc0 = &adc;
        led0 = &myled0;
    };
    
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
                diode-direction = "col2row";
        row-gpios
            = <&gpio1 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
        col-gpios
            = <&gpio1 11 GPIO_ACTIVE_LOW>;
    };
    
    layout_grid_transform:
    keymap_transform_0  {
        compatible = "zmk,matrix-transform";
	columns = <1>;
	rows = <1>;
	map = <RC(0,0)>;
    };

    babopad: babopad_0 {
		compatible = "zmk,babopad"; 
        status = "okay";
        adc-channels = <0 5 7>;
        pwm-channels = <0 1 2>;
	dpi = <1000>;
	sampling-hz = <100>;
        evt-type = <INPUT_EV_REL>;
        input-code-x = <INPUT_REL_X>;
        input-code-y = <INPUT_REL_Y>;
    };
    
    leds {
        compatible = "gpio-leds";
        myled0: led_0 {
            gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;        
        };
    };
};

&adc {
    status = "okay";
};

zephyr_udc0: &usbd {
    status = "okay";
};
